@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

   
    @if (Context.Session.GetInt32("LogueadoID") != null)
    {
        <p>@ViewBag.Bienvenida</p>
    }
    else
    {
        <p>BIENVENIDO A LA APLICACIÓN. SI YA SE ENCUENTRA REGISTRADO VAYA A "LOGIN", DE LO CONTRARIO VAYA A LA SECCIÓN "REGISTRARSE".</p>
    }
</div>
